<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&family=Playfair+Display:wght@800&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <title>E-mail</title>
</head>
<body>
    <div class="cont">
        <div class="form">
            <label for="">
                <h3>Find your account</h3>
                <p>Please enter your email address or phone number to search for your account.</p>
                <input type="email" name="email" >
            </label>
            <button class="confirm" type="button">Confirm</button>
        <button class="confirm" type="button">Cancel</button>
        </div>
        <div class="img">
            <img class="10.jpg" alt="">
        </div>
    </div>
    
</body>
</html>